server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/KP
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  jwt:
    secret: "yqD2f9!7sQ#Zx3vL8k@1pR5bE6wT4yU0"
    access-expiration-ms: 900000
    refresh-expiration-ms: 604800000


